:root {
  --color-white: #f3f3f3;
  --color-grey: #1b1b32df;
  --color-green: #37af65;
  --color-orange: rgba(239, 117, 11, 0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-orange);
  background-image: linear-gradient(
      115deg,
      rgba(239, 117, 11, 0.908),
      rgba(251, 106, 3, 0.8)
    ),
    url(https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8b2ZmaWNlJTIwbWVldGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container{
  width: 100%;
  margin: 3.125rem auto 2rem auto;
}

@media (min-height: 576px) {
  .container {
    max-height: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 800px;
  }
}

.header{
  text-align: center;
}

#title{
  font-weight: 400;
  font-size: 35;
  margin: 0 auto;
  margin-top: 4rem;
}

#description{
  margin-top: auto;
  margin-bottom: 5%;
  font-size: 20;
  font-style: italic;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#survey-form{
  background: var(--color-grey);
  padding: 2.5rem;
  border-radius: 0.25rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label{
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

p{
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea{
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

button{
  border: none;
}